# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Logs
*.log

# OS
Thumbs.db